@import 'tailwindcss';

@theme {
  --color-primary: #00072B;
  --color-secondary: #7FC008;
  --color-tertiary: #DB303F;
  --color-quaternary: #303030;
  --color-neutral: #475467;
  --color-warning: #DB303F;
  --color-title: #0C0033;
  --color-input-border: #d0d5dd;

  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --font-tertiary: 'Cabin', sans-serif;
  --font-quaternary: 'HighVoltage Rough', sans-serif; 
}

.container {
  @apply max-w-7xl mx-auto px-4;
}

@import './styles/add-modal-form.css';
@import './styles/delete-modal.css';
@import './styles/login-form.css';
@import './styles/table-list-product.css';
@import './styles/action-modal.css';
